.#{$fa-css-prefix}-b-icbc:before {
	content: fa-content($fa-var-b-icbc);
}
.#{$fa-css-prefix}-b-hsbc:before {
	content: fa-content($fa-var-b-hsbc);
}
.#{$fa-css-prefix}-b-lanacion:before {
	content: fa-content($fa-var-b-lanacion);
}
.#{$fa-css-prefix}-b-macro:before {
	content: fa-content($fa-var-b-macro);
}
.#{$fa-css-prefix}-b-meli:before {
	content: fa-content($fa-var-b-meli);
}
.#{$fa-css-prefix}-b-nacion:before {
	content: fa-content($fa-var-b-nacion);
}
.#{$fa-css-prefix}-b-naranja:before {
	content: fa-content($fa-var-b-naranja);
}
.#{$fa-css-prefix}-b-pagina12:before {
	content: fa-content($fa-var-b-pagina12);
}
.#{$fa-css-prefix}-b-provincia:before {
	content: fa-content($fa-var-b-provincia);
}
.#{$fa-css-prefix}-b-quilmes:before {
	content: fa-content($fa-var-b-quilmes);
}
.#{$fa-css-prefix}-b-santander:before {
	content: fa-content($fa-var-b-santander);
}
.#{$fa-css-prefix}-b-uala:before {
	content: fa-content($fa-var-b-uala);
}
.#{$fa-css-prefix}-caba:before {
	content: fa-content($fa-var-caba);
}
.#{$fa-css-prefix}-escudo:before {
	content: fa-content($fa-var-escudo);
}
.#{$fa-css-prefix}-ahora12:before {
	content: fa-content($fa-var-ahora12);
}
.#{$fa-css-prefix}-b-aerolineas:before {
	content: fa-content($fa-var-b-aerolineas);
}
.#{$fa-css-prefix}-b-bbva:before {
	content: fa-content($fa-var-b-bbva);
}
.#{$fa-css-prefix}-b-brubank:before {
	content: fa-content($fa-var-b-brubank);
}
.#{$fa-css-prefix}-b-ciudad:before {
	content: fa-content($fa-var-b-ciudad);
}
.#{$fa-css-prefix}-b-clarin:before {
	content: fa-content($fa-var-b-clarin);
}
.#{$fa-css-prefix}-b-flybondi:before {
	content: fa-content($fa-var-b-flybondi);
}
.#{$fa-css-prefix}-b-galicia:before {
	content: fa-content($fa-var-b-galicia);
}
.#{$fa-css-prefix}-b-hipotecario:before {
	content: fa-content($fa-var-b-hipotecario);
}
.#{$fa-css-prefix}-b-techint:before {
	content: fa-content($fa-var-b-techint);
}
